

*{
	box-sizing: border-box;
}
div{
	/* outline-style: dotted;
	outline-color: orange;
	margin: 2px;  */
}
#recipeBank{
	padding-top: 15px;
}

#videoBank{
  margin-top: 20px;
  text-align: center;
}

#recipeVideo{

}

#loginBox{
margin-left: 100px;
margin-top: 100px;
  border-radius: 3px;

}

#loginButton{
  color: white;
}

/* ---------Style for card panels with animation------------------ */


.card .card-content{
  width: 100%;
	height: 660px;
	display: inline-block;
  xmargin: -20px; 
}
.ch-item {
	width: 100%;
	height: 430px;
	xborder-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}
.ch-info-wrap{
	position: absolute;
	width: inherit;
	height: inherit;
	xborder-radius: 50%;
	perspective: 800px;
	transition: all 0.4s ease-in-out;
	xtop: 20px;
	xleft: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}
.ch-info{
	position: absolute;
	width: inherit;
	height: inherit;
	xborder-radius: 50%;
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	xborder-radius: 50%;
	background-position: center center;
	backface-visibility: hidden;
}
.ch-info .ch-info-back {
	transform: rotate3d(0,1,0,180deg);
	background: #000;
}
.ch-img-1 { 
	background-image: url(https://spoonacular.com/recipeImages/Crispy-Lemon-Fried-Chicken-443487.jpg);
    background-size: cover;
}

.ch-img-2 { 
	background-image: url(../images/11.jpg);
}

.ch-img-3 { 
	background-image: url(../images/12.jpg);
}
.ch-info h3 ,
.ch-info h5{
	color: #fff;
	xtext-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 15px;
	padding: 30px 0 0 0;
	height: 60px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info ul{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
	margin: 0 15px 0px;
  xpadding-top: 2px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	xborder-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
  text-align: right;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}
p.readymin {
	color: #fff;
  font-size: 15px;
	padding-top: 20px;
	font-style: italic;
	xmargin: 0 30px;
	xborder-top: 1px solid rgba(255,255,255,0.5);
	xopacity: 0;
	xtransition: all 1s ease-in-out 0.4s;
}
.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	transform: rotate3d(0,1,0,-180deg);
}
div.card-action{
  background-color: #fff !important;
  line-height: normal !important;
}
.card-title{
  font-size: 20px !important;
  line-height: normal !important;
}
div.save-recipe{
  font-weight: bold;
  text-align: center;
  width:100%;
}
h6.credit-text{
  color: #7f9fa1;
  font-style: italic;
}
span.missed {
    background-color: #954343;
    xfont-weight: 900;
}
span.highlight {
    background-color: #4f880e;
}

/* -----------------------------------------------------------------------*/
