/*
div{
    outline-style: dotted;
    outline-color: orange;
    margin: 2px;
}*/

.brand-logo, h2 {
  font-family: 'Rock Salt', cursive;
}

#usernameInput.input-field{
  width: 350px;
}

#mainImage{
  background-image: url("../images/food-salad-healthy-vegetables.jpg");
  max-width: 100%;
  height: 600px;
  background-size: cover;
}

#videoBank{
  margin-top: 10px;
  text-align: center;
}

#iFrameDiv{
  border-color: red;
  border: 15px;
}

#recipeVideo{
margin-top: 15px;
margin-bottom: 15px;

}

#loginBox{
margin-left: 100px;
margin-top: 100px;
border-radius: 3px;

}

#loginButton{
  color: white;
}

h2 {
  color: white;
}

#usernameInput{
  width: 500px;
}

